<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [GURU-GPT] %-5level %logger{36} - %msg %replace(%X{CORRELATION-ID}){'^(.+)$', '[X-CORRELATION-ID:$1] '} %replace(%X{SPAN-ID}){'^(.+)$', '[X-SPAN-ID:$1] ' }%n
            </pattern>

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>


